{% extends "base.html" %}
<!-- TODO: ADD Filters for other routes such as, vehicles,locations,species,people,etc-->{% block content %}
<div class="item-layout">
	<div class="top-image">
		<div class="space-container"></div>
		<div class="image-container"><img src="/static/images/{{ item.id }}.jpg"></div>
		<div class="top-break"></div>
	</div>
	<div class="item-info">
		<div class="title">{{ item.name }} <span>({{item.climate}})</span> </div>
		<div class="desc">{{ item.terrain }}</div>
		<div class="break"></div>
		<div class="features">
			<ul>
				<li><span class="length"><span>{{item.surface_water}} length of water</span></span>
				</li>
			</ul>
		</div>
		<p class="otherfilms">
			<div class="break"></div>
			<p class="margin-bold">Other films</p>
			<ul> {% for film in item.films %} {% set item = get_item(film) %}
				<li> <a href="{{form_url_for_item(film)}}">{{ item.title }}</a></li> {% endfor %} </ul>
			<p class="species">
				<div class="break"></div>
				<p class="margin-bold">Residents</p> {% for person in item.residents %} {% set item = get_item(person) %} <a href="{{form_url_for_item(person)}}">{{item.name}}</a> {% endfor %} </div>
</div> {% endblock %}